*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

/* Hidden*/

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Main styles*/

.content {
  display: grid;
  grid-template-areas: "result content";
  gap: 30px;
  padding: 133px 30px;
}

.button {
  font-family: "Fira Sans Condensed", sans-serif;
  border: 1px solid currentColor;
  font-weight: 700;
  font-size: 18px;
  background: transparent;
  color: inherit;
}

/* Block Result*/

.result {
  grid-area: result;
  margin-top: 78px;
}

.result__video-container {
  margin-bottom: 12px;
}

.result__video {
  width: 711px;
  max-height: 386px;
  object-fit: contain;
}

.search-form {
  display: flex;
  gap: 40px;
}

.search-form__fieldset {
  width: 225px;
}

.search-form__fieldset:nth-child(2n) {
  width: 212px;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  color: inherit;
  margin-bottom: 5px;
}

.search-form__label {
  display: flex;
}

.search-form__label-text {
  margin-left: 5px;
}

.search-form__textfield {
  background-color: transparent;
  width: 225px;
  height: 27px;
  border: none;
  padding-left: 0;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  color: inherit;
  font-size: 18px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  appearance: none;
}

.search-form__textfield::placeholder {
  font-size: 18px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
}

.search-form__checkbox-list {
  width: 212px;
  display: flex;
  gap: 15px;
  align-items: center;
  position: relative;
}

.search-form__pseudo-checkbox {
  display: block;
  width: 19px;
  height: 19px;
  border: 1px solid currentColor;
  background-color: transparent;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  margin: 1px auto;
  background-color: currentColor;
}

.search-form__submit-button {
  margin-top: 19px;
  padding: 6px 73px;
}

/* Content details*/

.content__details {
  grid-area: content;
}

.title {
  font-family: 'Oswald', sans-serif;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  max-height: 298px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 392px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-title {
  max-width: 196px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 3px;
  margin-bottom: 3px;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 0.9;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  overflow: hidden;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  width: 100%;
  height: 34px;
  margin-top: 36px;
}

.content__card-link_current {
  background-color: #545050;
}

/* Effects*/

.search-form__label,
.button,
.content__list-item {
  cursor: pointer;
}

.search-form__label:focus,
.button:focus {
  outline: none;
}

.search-form__label:has(:focus-visible),
.button:focus-visible {
  outline: 1px solid currentColor;
}

.search-form__label:hover .search-form__label-text,
.button:hover,
.content__list-item:hover {
  text-decoration: underline;
}

.content__list-item:active,
.button:active {
  background-color: #545050;
}

/* Preload */
.result__video-container,
.content__list-container {
  position: relative;
}